<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658440027855-2jstjupcrel5o28rcv7mmgl8032cebrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658440027855-2jstjupcrel5o28rcv7mmgl8032cebrp</string>
	<key>API_KEY</key>
	<string>AIzaSyCHKHHw2qA0XUeyJfq_LsPIU-JebWY_pug</string>
	<key>GCM_SENDER_ID</key>
	<string>658440027855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mihir.Icebreaker-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>icebreaker-68d0d</string>
	<key>STORAGE_BUCKET</key>
	<string>icebreaker-68d0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658440027855:ios:3cee5661292c768f04c1ba</string>
</dict>
</plist>